.like-button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s;
}

.like-button:hover {
    transform: scale(1.1);
}

.like-button .like-icon {
    font-size: 16px;
    transition: opacity 0.2s;
}

.like-button.liked .like-icon {
    opacity: 1;
}

.like-button .likes-count {
    font-size: 16px;
    color: var(--massive-text-color);
}

.like-button.liked .likes-count {
    color: var(--red);
}

.post-edit-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.post-edit-buttons .buttons-style-one{
    width: 100%;
}

.comment .buttons-style-one{
 width: 135px;
 margin-top: 1rem;
}

.comment .reply-btn{
    width: 280px;
}

.comment-actions, .edit-buttons {
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) {
    .comment-actions,
    .edit-buttons {
    display: block;
    }
    .comment-actions .buttons-style-one,
    .edit-buttons .buttons-style-one,
    .comment .reply-btn{
        width: 100%;
    }
}



.edit-textarea{
    margin: 1rem 0 0;
}

.comment-form textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    margin: 1rem 0;
    border-radius: 12px;
    resize: vertical;
}   

.comment {
    border: 1.5px solid var(--light-gray);
    border-radius: 12px;
    margin-top: 20px;
    padding: 18px 22px;
    box-shadow: 0 2px 16px rgba(33, 150, 243, 0.08);
    font-size: 16px;
    position: relative;
    transition: box-shadow 0.2s, border 0.2s;
    background: var(--white);
}
.comment:hover {
    box-shadow: 0 4px 24px var(--black);
    border-color: var(--black);
}

.comment-text {
    margin: 10px 0 0 0;  
}